Groq-api=
Groq-url=

Openrouter-api=
Openrouter-url=

Google-api=
Google-url=

huggingface-api=
huggingface-url=

supabase_url=
supabase_key=

airouter-api=
airouter-url=

opencode-api=
opencode-url=

cerebras-url=
cerebras-api=

nvidia-url=
nvidia-api=

clinent-id=
clinent-secret=

encryptionkey=

version=1.0.0
ENVIRONMENT=local
